body{
    background: url(./img/Logo-Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.ucontainer1{
    background: #6666668f;
}
.uimg1{
    width: 130px;
    margin-left: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
    transform: translateX(-50%);
    background: white;
    padding: 15px;
    border-radius: 10px;
    /* position: absolute; */
}
.ucontainer2{
    /* position: relative; */
    height: 100vh;
    background: #6666668f;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 0 0 50% 50% / 20% 20% 10% 10%;
    margin-bottom: 100px;
}
.ucontainer2 h1{
    text-align: center;
    color: #666666;
}
.ucontainer2a{
    /* background: rosybrown; */
    width: 55%;
    display: flex;
}
.ucontainer2a i{
    margin-right: 14px;
    font-size: 20pt;
    padding-top: 9px;
    color: #666666;

}
.ucontainer2a div{
    font-size: 20pt;
    color: white;
}
.ucontainer3{
    /* border-top: solid 35px black;
    border-right: solid 650px red;
    border-left: solid 650px red;
    height: 15px;
    margin-bottom: 100px; */

}
